#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        tl: tap_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        td_mt: tap_dance_mod_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_MOD_TAP";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&tog 3>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";
            label = "base";
            bindings = <
&kp TAB        &kp Q  &kp W  &kp E         &kp R         &kp T                                &kp UP                &kp Y        &kp U          &kp I                  &kp O    &kp P     &kp GRAVE
&tp LCTRL ESC  &kp A  &kp S  &kp D         &lt 1 F       &kp G                      &kp LEFT  &kp ENTER  &kp RIGHT  &kp H        &kp J          &kp K                  &kp L    &kp SEMI  &kp SQT
&kp LSHIFT     &kp Z  &kp X  &kp C         &kp V         &kp B        &kp C_MUTE              &kp DOWN              &kp N        &kp M          &kp COMMA              &kp DOT  &kp FSLH  &td_mt
                             &kp LEFT_ALT  &kp LEFT_GUI  &tl 1 ENTER                                                &lt 1 SPACE  &kp BACKSPACE  &kp LA(RIGHT_COMMAND)
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower {
            display-name = "lower";
            label = "lower";
            bindings = <
&trans  &kp N1  &kp N2  &kp N3  &kp N4     &kp N5                                             &mmv MOVE_UP                     &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &kp BACKSLASH
&trans  &trans  &trans  &trans  &kp MINUS  &kp LS(MINUS)                      &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &kp EQUAL  &kp LS(EQUAL)  &kp C_PLAY_PAUSE                    &mmv MOVE_DOWN                   &kp LBKT  &kp RBKT  &trans  &trans     &trans  &trans
                        &trans  &trans     &trans                                                                              &trans    &trans    &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        special {
            display-name = "special";
            label = "special";
            bindings = <
&trans  &kp RS(N1)  &kp RS(N2)        &kp RS(N3)  &kp RS(N4)         &kp RS(N5)                                        &mmv MOVE_UP                     &kp RS(N6)  &kp RS(N7)  &kp RS(N8)      &kp RS(N9)    &kp RS(N0)    &kp PIPE
&trans  &trans      &trans            &trans      &trans             &trans                            &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans      &kp DOWN    &kp UP          &kp LS(LBRC)  &kp LS(RBRC)  &trans
&trans  &trans      &kp C_PLAY_PAUSE  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &kp C_PLAY_PAUSE                    &mmv MOVE_DOWN                   &trans      &trans      &kp LEFT_ARROW  &kp RIGHT     &trans        &trans
                                      &trans      &trans             &trans                                                                             &trans      &trans      &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        screen {
            label = "screen";
            display-name = "screen";
            bindings = <
&bt BT_NXT  &trans  &trans  &kp LS(LG(NUMBER_3))  &kp LS(LG(NUMBER_4))  &kp LS(LG(NUMBER_5))                            &mmv MOVE_UP                     &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans  &trans  &trans                &trans                &trans                          &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans  &trans  &trans                &trans                &trans                &trans                    &mmv MOVE_DOWN                   &trans  &trans  &trans  &trans  &trans  &trans
                            &trans                &trans                &trans                                                                           &trans  &trans  &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
